mint/
mint_mut_ppi_example/data/Mutation_perturbation_model.csv
mint_mut_ppi_example/data/uniprot_sprot.fasta.gz
mint_mut_ppi_example/data/uniprot_sprot.fasta
mint_mut_ppi_example/data/processed_data.csv